<div class="form-floating mb-3">
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control w-25"%>
  <%= f.label :details, for: "floatingInput" %>
  <%= f.text_field :details, class: "form-control w-25"%>
  <%= f.label :completed, for: "floatingInput" %>
  <%= f.check_box :completed %>
</div>
  <%= f.submit class: "btn btn-primary" %>
  <%= link_to 'back', tasks_path, class: "btn btn-primary" %>
<% end %>
